{% extends 'base.html' %}
{% block title %}Projects{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('projects.static', filename='projects.css') }}">
{% endblock %}

{% block content %}

<section class="top-sections">
    <div class="circle circle-one"></div>
    <div class="circle circle-two"></div>
    <section class="apps-list-section">
        <div class="berichTkinter-link">
            <a class="app-link" href="#berichTkinter">BeRich-CTKinter</a>
            <img src="{{url_for('projects.static', filename='assets/1.jpg')}}">
        </div>
        <div class="berichTkinter-link">
            <a class="app-link" href="#berichTkinter">BeRich-Flask_Webapp</a>
            <img src="{{url_for('projects.static', filename='assets/1.jpg')}}">
        </div>
        <div class="berichTkinter-link">
            <a class="app-link" href="">Coming Soon</a>
            <img src="{{url_for('projects.static', filename='assets/2.jpg')}}">
        </div>
        <div class="berichTkinter-link">
            <a class="app-link" href="">Coming Soon</a>
            <img src="{{url_for('projects.static', filename='assets/2.jpg')}}">
        </div>
    </section> 
</section>
<section id="berichTkinter">
    <div class="readme-container preview" id="english">
        <!--<a class="switch-lang" href="#german"><i class="fa-solid fa-circle-up" style="padding:1rem;"> English / Deutsch</i></a>-->
        <a class="show-more" href="javascript:void(0);" onclick="toggleSection('english')">
            <i class="fa-solid fa-circle-down" style="padding:1rem;"> Show More</i>
        </a>
        <header class="repo-header">
            <h1>Berichtsheft Application</h1>
            <p>Python-based Application with tkinter GUI Documentation</p>
            <a href="https://github.com/ColdByDefault/BerichtsheftectkInter" target="_blank">Go to App</a><br><br><hr>
        </header>
        <article class="markdown-body">
            <section>
                <h2>Introduction</h2>
                <p>The Berichtsheft Application is a Python-based GUI tool designed to streamline the creation and management of training reports. Utilizing tkinter and customtkinter,
                    it offers a user-friendly interface for entering training details and generating corresponding documentation.</p>
            </section>
            <section>
                <h2>Features</h2>
                <ul>
                    <li><strong>Dark Mode Interface:</strong> A sleek, dark-themed UI that is easy on the eyes, enhancing user experience, especially during extended use.</li>
                    <li><strong>Tabbed Navigation:</strong> Easily switch between "General Information" and "Daily Notes" to input respective details.</li>
                    <li><strong>Word Document Integration:</strong> Automates the process of updating a Word document template with input data, facilitating the generation of standardized report files.</li>
                </ul>
            </section>
            <section>
                <h2>Setup</h2>
                <p>Dependencies: Ensure Python is installed on your system. The application requires tkinter, 
                    customtkinter, and python-docx. Install these packages using pip if not already installed.</p>
                <pre><code>pip install customtkinter python-docx</code></pre>
                <p>Running the Application: Download mainctk.py and run it using Python.</p>
                <pre><code>python mainctk.py</code></pre>
            </section>
            <section>
                <h2>Usage</h2>
                <h3>General Information Tab</h3>
                <p>
                    <li>Input fields for personal and training session details.</li>
                    <li>Option to select training module numbers from a dropdown menu.</li>
                </p>
                <h3>Daily Notes Tab</h3>
                <p>
                    <li>Text boxes for entering notes or observations for each weekday.</li>
                    <li>Inputs are designed to be captured for document generation.</li>
                </p>
            </section>
            <section>
                <h2>Generating Reports</h2>
                <p>The "Submit" button processes the entered information, updating a specified Word document template with the provided data. 
                    This feature requires a .docx file with predefined placeholders corresponding to the input fields.</p>
            </section>
            <section>
                <h2>Contributing</h2>
                <p>We welcome contributions to the Berichtsheft Application! Whether it's feature suggestions, bug reports, 
                    or code contributions, please feel free to open an issue or pull request on our GitHub repository.</p>
            </section>
            <section>
                <h2>Support</h2>
                <p>For any questions or issues, please open an issue on the GitHub repository, and we'll get back to you as soon as possible.</p>
            </section>
            <section>
                <h2>License</h2>
                <p>This project is released under the MIT License, allowing free use, modification, and distribution.</p>
            </section>
        </article>
    </div>
    <div class="readme-container preview" id="german">
        <a class="show-more" href="javascript:void(0);" onclick="toggleSection('german')">
            <i class="fa-solid fa-circle-down" style="padding:1rem;"> Mehr anzeigen</i>
        </a>
        <header class="repo-header">
            <!--<a class="switch-lang" href="#english"><i style="padding:1rem;" class="fa-solid fa-circle-up"> Deutsch / English</i></a>-->
            <h1>Berichtsheft-Anwendung</h1> 
            <p>Python-basierte Anwendung mit tkinter GUI-Dokumentation</p>
            <a href="https://github.com/ColdByDefault/BerichtsheftectkInter" target="_blank">Zur App gehen</a><hr>
        </header>
        <article class="markdown-body">
            <section>
                <h2>Einführung</h2>
                <p>Die Berichtsheft-Anwendung ist ein Python-basiertes GUI-Tool, das entwickelt wurde, um die Erstellung und Verwaltung von Ausbildungsberichten zu vereinfachen. Mit tkinter und customtkinter bietet es eine benutzerfreundliche Schnittstelle zum Eingeben von Ausbildungsdetails und zum Generieren entsprechender Dokumentation.</p>
            </section>
            <section>
                <h2>Funktionen</h2>
                <ul>
                    <li><strong>Dark Mode-Oberfläche:</strong> Eine schlanke, dunkel thematisierte Benutzeroberfläche, die angenehm für die Augen ist und die Benutzererfahrung insbesondere bei längerer Verwendung verbessert.</li>
                    <li><strong>Registerkarten-Navigation:</strong> Wechseln Sie problemlos zwischen "Allgemeine Informationen" und "Tägliche Notizen", um die entsprechenden Details einzugeben.</li>
                    <li><strong>Integration von Word-Dokumenten:</strong> Automatisiert den Prozess der Aktualisierung einer Word-Dokumentvorlage mit eingegebenen Daten, was die Erstellung standardisierter Berichtsdateien erleichtert.</li>
                </ul>
            </section>
            <section>
                <h2>Einrichtung</h2>
                <p>Abhängigkeiten: Stellen Sie sicher, dass Python auf Ihrem System installiert ist. Die Anwendung erfordert tkinter, customtkinter und python-docx. Installieren Sie diese Pakete mit pip, falls noch nicht geschehen.</p>
                <pre><code>pip install customtkinter python-docx</code></pre>
                <p>Die Anwendung ausführen: Laden Sie mainctk.py herunter und führen Sie es mit Python aus.</p>
                <pre><code>python mainctk.py</code></pre>
            </section>
            <section>
                <h2>Verwendung</h2>
                <h3>Registerkarte Allgemeine Informationen</h3>
                <p>
                    <li>Eingabefelder für persönliche und Ausbildungssitzungsdetails.</li>
                    <li>Möglichkeit, Ausbildungsmodulnummern aus einem Dropdown-Menü auszuwählen.</li>
                </p>
                <h3>Registerkarte Tägliche Notizen</h3>
                <p>
                    <li>Textfelder für das Eingeben von Notizen oder Beobachtungen für jeden Wochentag.</li>
                    <li>Die Eingaben sind so gestaltet, dass sie für die Dokumentengenerierung erfasst werden.</li>
                </p>
            </section>
            <section>
                <h2>Erstellen von Berichten</h2>
                <p>Der "Absenden"-Button verarbeitet die eingegebenen Informationen und aktualisiert eine bestimmte Word-Dokumentvorlage mit den bereitgestellten Daten. Diese Funktion erfordert eine .docx-Datei mit vordefinierten Platzhaltern, die den Eingabefeldern entsprechen.</p>
            </section>
            <section>
                <h2>Mitwirkung</h2>
                <p>Wir begrüßen Beiträge zur Berichtsheft-Anwendung! Ob es sich um Funktionsvorschläge, Fehlerberichte oder Codebeiträge handelt, zögern Sie nicht, ein Problem zu melden oder einen Pull-Request in unserem GitHub-Repository zu öffnen.</p>
            </section>
            <section>
                <h2>Unterstützung</h2>
                <p>Bei Fragen oder Problemen eröffnen Sie bitte ein Issue im GitHub-Repository, und wir werden uns so schnell wie möglich bei Ihnen melden.</p>
            </section>
            <section>
                <h2>Lizenz</h2>
                <p>Dieses Projekt wird unter der MIT-Lizenz veröffentlicht, die eine freie Nutzung, Modifikation und Verteilung ermöglicht.</p>
            </section>
        </article>
    </div>
</section> 
<hr>
<div class="header-h1"><h1>Online <span>Be</span><span>Rich</span>tshefte</h1></div>
<section id="berichWebApp">
    <div class="container-web-app">
        <form action="{{ url_for('projects.submit_form') }}" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <label for="trainee_name">Vor- Nachname:</label>
                <input type="text" id="trainee_name" name="trainee_name" class="input-field" required>
            </div>
            <div class="input-group">
                <label for="location">Standort:</label>
                <input type="text" id="location" name="location" class="input-field" required>
            </div>
            <div class="input-group">
                <label for="record_no">Ausbildungsnachweis Nr.:</label>
                <input type="text" id="record_no" name="record_no" class="input-field" required>    
            </div>
            <div class="input-group">
                <label for="trainer_name">Trainer/Dozent:</label>
                <input type="text" id="trainer_name" name="trainer_name" class="input-field" required>
            </div>
            <div class="input-group">
                <label for="training_start">Ausbildungswoche von:</label>
                <input type="text" id="training_start" name="training_start" class="input-field" required>
            </div>
            <div class="input-group">
                <label for="training_end">bis</label>
                <input type="text" id="training_end" name="training_end" class="input-field" required>
            </div>
            <div class="input-group">
                <label for="lf-select">Wähle ein LF:</label>
                <select name="lf-code" id="lf-select">
                    <optgroup label="FISI/FIAE">
                        {% for i in range(10) %}
                        <option value="LF-{{ '%02d' % i }}">LF-{{ '%02d' % i }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="LF-F">
                        {% for i in range(1, 5) %}
                        <option value="LF-F{{ i }}">LF-F{{ i }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="LF-FIAE">
                        {% for i in range(10, 13) %}
                        <option value="LF-{{ i }}A">LF-{{ i }}A</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="LF-FISI">
                        {% for i in range(10, 13) %}
                        <option value="LF-{{ i }}S">LF-{{ i }}S</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </div>
            <div class="input-group">
                <a type="submit" class="show-more" onclick="showResultsSection()">Absenden</a>
            </div>
        </form>
    </div>
</section>
<hr>
<section id="results-section" style="display: none">
    <div class="container-result">
        <div class="container-result-form">
            <h1 class="document-header"><span>GFN</span> Berichtshefte</h1>
            {% if form_data %}
                {% set ns = namespace(count=0) %}
                {% for key, value in form_data.items() %}
                    {% if key != 'image_path' %}
                        <div class="form-feld"><strong class="{{ key | lower }}">{{ key }}</strong></div>
                        <div class="form-feld value">{{ value }}</div>
                        {% set ns.count = ns.count + 1 %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="schedule-flex-grow">
            <div>Tag</div>
            <div>Notes</div>
            <div>LF</div>
        </div>
        <div class="schedule-notes">
            {% if notes_data %}
                {% set ns = namespace(week_num=1) %}
                <div class="schedule-weekNr">
                    <div>Woche</div>
                    <div>Woche {{ ns.week_num }}</div>
                    <div></div>
                </div>
                {% for day, notes in notes_data.items() %}
                    <div class="schedule-days">
                        <div>{{ day[:-1] | lower }}</div>
                        <textarea class="editable-notes" data-day="{{ day }}">{{ notes }}</textarea>
                        <div>{{ form_data.LF }}</div>
                    </div>
                    {% if loop.index % 5 == 0 and not loop.last %}
                        {% set ns.week_num = ns.week_num + 1 %}
                        <div class="schedule-weekNr">
                            <div>Woche</div>
                            <div>Woche {{ ns.week_num }}</div>
                            <div></div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="strong">Durch die nachfolgende Unterschrift wird die Richtigkeit
            und Vollständigkeit der obigen Angaben bestätigt.
        </div>
        <div class="just-a-line">
            <div class="user-picture">Datum, Unterschrift der/des Auszubildenden</div>
            <div class="user-picture">Datum, Unterschrift der/des Ausbildenden (GFN GmbH,Praktikumsbetrieb)</div>
        </div>    
</section>
<script src="{{ url_for('projects.static', filename='projects.js')}}"></script>
{% endblock %}