{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('user.static', filename='user.css') }}">
{% endblock %}

{% block content %}
<div class="big-container">
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <h1 class="opacity">REGISTRIEREN</h1>
                <form action="/register" method="post">
                    <label for="newuser">Muss zwischen 5 und 12 liegen.</label>
                    <input type="text" name="newUser" placeholder="USERNAME" id="newuser" required/>
                    <label for="password">Muss zwischen 8 und 16 Zeichen lang sein, einschließlich Großbuchstaben, Kleinbuchstaben, Zahlen und Sonderzeichen.</label>
                    <div class="toggle-div">
                        <input type="password" name="newPassword" placeholder="PASSWORD" id="password" required />
                        <span onclick="togglePasswordVisibility()" class="toggle-password">
                            <i id="toggleIcon" class="fa fa-eye"></i>
                        </span>
                    </div>  
                    <div class="toggle-div">
                        <input type="password" name="confPassword" placeholder="CONFIRM PASSWORD" id="confirm_password" required/>
                        <span onclick="togglePasswordVisibility2()" class="toggle-password">
                            <i id="toggleIcon2" class="fa fa-eye icon1"></i>
                        </span>
                    </div>  
                    <button class="opacity" type="submit">ABSCHICKEN</button>
                </form>
                <div class="register-forget opacity">
                    <a href="/login">ANMELDEN</a>
                    <!-- <a href="">FORGOT PASSWORD</a> -->
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
    </section>
</div>
<script>
    function togglePasswordVisibility() {
        let passwordInput = document.getElementById('password');
        let toggleIcon = document.getElementById('toggleIcon');
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.className = "fa fa-eye-slash"; 
        } else {
            passwordInput.type = "password";
            toggleIcon.className = "fa fa-eye"; 
        }
    }
    function togglePasswordVisibility2() {
        let passwordInputConfirm = document.getElementById('confirm_password');
        let toggleIcon = document.getElementById('toggleIcon2');
        if (passwordInputConfirm.type === "password") {
            passwordInputConfirm.type = "text";
            toggleIcon.className = "fa fa-eye-slash"; 
        } else {
            passwordInputConfirm.type = "password";
            toggleIcon.className = "fa fa-eye"; 
        }
    }
  </script>   
{% endblock %}