 
section{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 250px;
}
.app-card{
    position: relative;
    width: 250px;
    height: 250px;
    text-align: center;
}
.app-card a{
    margin: .6rem;
}
.app-card img{
    position: relative;
    width: 350px;
    height: 200px;
}

.app-card div{
    position: relative;
    padding: .6rem;
    margin-top: .6rem;
    color: rgba(187, 217, 235, 0.349);
}