.switch-lang{
    margin-left: 1rem;
    animation: blinkingColor 2s infinite;
}
.switch-lang:hover{
    color: var(--prime-hover-text-color);
}
.readme-container {
    background-color: #00000091;
    border: 1px solid var(--secondary-background-color);
    border-radius: 6px;
    padding: 16px;
    max-width: 900px;
    margin: 3rem auto;
}

.repo-header h1 {
    font-size: 26px;
    color: #0366d6;
}

.repo-header p {
    font-size: 16px;
    color: #ffffff;
}

.markdown-body {
    font-size: 14px;
    line-height: 1.5;
    color: #f8f8f8;
}

.markdown-body h2 {
    color: #0366d6;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 8px;
}

.markdown-body pre {
    background-color: #ffffff;
    padding: 16px;
    font-family: monospace;
    border-radius: 6px;
}

.markdown-body ul {
    list-style-type: none;
    padding: 0;
}

.markdown-body li {
    padding: 8px;
    border-radius: 6px;
    background-color: #515152;
    margin-bottom: 8px;
}


@keyframes blinkingColor {
    0%, 100% { color: var(--prime-hover-text-color); } 
    50% { color: #1bdaf3; } 
}