{% extends "base.html" %}
{% block title %}Apps{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/apps.css') }}">
{% endblock %}


{% block content %}
<section>
    <div class="app-card">
        <img src="{{url_for('static', filename='imgs/1.jpg')}}" alt="">
        <a href="/beRichReadMe" class="btn btn-primary">Gehe zum BeRich.py tkinter README</a>
    </div>
    <div class="app-card">
        <img src="{{url_for('static', filename='imgs/1.jpg')}}" alt="">
        {% if 'user' in session %}
            <a href="/berich" class="btn btn-primary">Gehe zur BeRich Web-App</a>
        {% else %}
            <div><strong>Du musst dich zuerst einloggen.</strong></div>
        {% endif %}
        <div><strong><a href="https://github.com/ColdByDefault/BeRichPy" target="_blank">oder das Repository auf Github ansehen.</a></strong></div>
    </div>
</section>

{% endblock %}