{% extends "base.html" %}
{% block title %}BeRich.py{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/berich.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <h1>Berichtshefte</h1>
    <form action="{{ url_for('submit_form') }}" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <label for="trainee_name">Vor- Nachname:</label>
            <input type="text" id="trainee_name" name="trainee_name" class="input-field" required>
        </div>
        <div class="input-group">
            <label for="location">Standort:</label>
            <input type="text" id="location" name="location" class="input-field" required>
        </div>
        <div class="input-group">
            <label for="record_no">Ausbildungsnachweis Nr.:</label>
            <input type="text" id="record_no" name="record_no" class="input-field" required>    
        </div>
        <div class="input-group">
            <label for="trainer_name">Trainer/Dozent:</label>
            <input type="text" id="trainer_name" name="trainer_name" class="input-field" required>
        </div>
        <div class="input-group">
            <label for="training_start">Ausbildungswoche von:</label>
            <input type="text" id="training_start" name="training_start" class="input-field" required>
        </div>
        <div class="input-group">
            <label for="training_end">bis</label>
            <input type="text" id="training_end" name="training_end" class="input-field" required>
        </div>
        <div class="input-group">
            <label for="lf-select">Wähle ein LF:</label>
            <select name="lf-code" id="lf-select">
                <optgroup label="FISI/FIAE">
                    {% for i in range(10) %}
                    <option value="LF-{{ '%02d' % i }}">LF-{{ '%02d' % i }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="LF-F">
                    {% for i in range(1, 5) %}
                    <option value="LF-F{{ i }}">LF-F{{ i }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="LF-FIAE">
                    {% for i in range(10, 13) %}
                    <option value="LF-{{ i }}A">LF-{{ i }}A</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="LF-FISI">
                    {% for i in range(10, 13) %}
                    <option value="LF-{{ i }}S">LF-{{ i }}S</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>
        <div class="input-group">
            <button type="submit" class="btn btn-primary">Absenden</button>
        </div>
        <div class="input-group">
            <label for="imageUpload">Lade deine Unterschrift hoch: *Optional</label>
            <input type="file" id="imageUpload" name="imageUpload" accept="image/*" class="input-field">
        </div>
    </form>

</div>
{% endblock %}