<!DOCTYPE html>
<html lang="en">
<head>
    <!--Basics-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base Template{% endblock %}</title>
    <!--OG-->
    <meta name="description" content="This is an example of a web application created by ColdByDefault.">
    <meta name="keywords" content="Flask, Web Application, ColdByDefault">
    <meta name="author" content="ColdByDefault">
    <!--icons fontawesome-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://kit.fontawesome.com/1e357b3107.js" crossorigin="anonymous"></script>
    <!--links-->
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <canvas id="starsCanvas"></canvas>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            {% if 'user' in session %}
            <li><a href="{{ url_for('user.profile') }}">{{ session['user'] }}</a></li>
            <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('user.login') }}">Account</a></li>
            {% endif %}
            <li><a href="{{ url_for('admin.index') }}">Admins</a></li>
            <li><a href="{{ url_for('projects.projects_list') }}">Projects</a></li>
            <li><a href="#">About</a></li>
            <li><a class="theme-link-btn"><button class="btn" onclick="toggleTheme()">Theme</button></a></li>
        </ul>
    </div>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    {% block content %}{% endblock %}
</body>
</html>
