<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://kit.fontawesome.com/1e357b3107.js" crossorigin="anonymous"></script>
    <title>{% block title %}Base Template{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <canvas id="starsCanvas"></canvas>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('user.login') }}">Account</a></li>
            <li><a href="{{ url_for('admin.index') }}">Admins</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    {% block content %}{% endblock %}
</body>
</html>
