
.top-sections {
    position: relative;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    z-index: 2;
}

.circle{
    width: 8rem;
    height: 8rem;
    background: rgba(0, 90, 146, 0.582);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(0, 91, 146, 0.02);
    position: absolute;
    z-index: 0;
}

.circle-one{
    top: 20%;
    left: 12%;
    transform: translate(-50%, -50%);
}

.circle-two{
    bottom: 12%;
    right: 12%;
    transform: translate(50%, 50%);
}

.apps-list-section{
    position: relative;
    display: flex;
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    margin: 80px 0 0 0;
    padding: 2rem;
    border: 1px solid var(--color-palette-second);
    box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background: #00204a8f; 
}

.app-link{
    font-size: 25px;
    color: var(--color-palette-fifth);
    text-decoration: none;
    font-weight: 700;
}
.berichTkinter-link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.berichTkinter-link img{
    width: 250px;
    height: 250px;
    border-radius: 25%;
    margin-top: 1rem;
}





/* beRichCTKinter README. */
.switch-lang{
    margin-left: 1rem;
    animation: blinkingColor 2s infinite;
}
.readme-container{
    background-color: var(--prime-background-color);
    border: 1px solid var(--color-palette-first);
    border-radius: 6px;
    padding: 16px;
    max-width: 900px;
    margin: 3rem auto;
    z-index: 3;
    position: relative;
}
.readme-container a, .readme-container a:visited, .readme-container a:active{
    color: var(--color-palette-fifth);
    text-decoration: none;
    font-weight: 700;
}
.repo-header h1{
    font-size: 26px;
    color: var(--color-palette-first);
}

.repo-header p{
    font-size: 16px;
    color: #d6d6d6;
}

.markdown-body{
    font-size: 14px;
    line-height: 1.5;
    color: #d6d6d6;
}

.markdown-body h2{
    color: var(--color-palette-second);
    border-bottom: 1px solid var(--prime-background-color);
    padding-bottom: 8px;
}

.markdown-body pre{
    background-color: #334457;
    padding: 16px;
    font-family: monospace;
    border-radius: 6px;
}

.markdown-body ul {
    list-style-type: none;
    padding: 0;
}

.markdown-body li {
    padding: 8px;
    border-radius: 6px;
    background-color: #515152;
    margin-bottom: 8px;
}

@keyframes blinkingColor {
    0%, 100% { color: white; } 
    50% { color: #1bdaf3; } 
}












/* Responsive adjustments */
@media (max-width: 768px) {
    .apps-list-section {
        width: 100%;
        padding: 1rem;
    }
    
    .berichTkinter-link {
        flex: 1 1 100%;
        margin: 0.5rem 0;
    }

    .berichTkinter-link img {
        width: 100%;
        height: auto;
        border-radius: 15%;
    }
}