
.top-sections {
    position: relative;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
    z-index: 2;
}

.circle{
    width: 8rem;
    height: 8rem;
    background: var(--color-palette-circle);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(0, 91, 146, 0.02);
    position: absolute;
    z-index: 0;
}

.circle-one{
    top: 20%;
    left: 12%;
    transform: translate(-50%, -50%);
}

.circle-two{
    bottom: 12%;
    right: 12%;
    transform: translate(50%, 50%);
}

.apps-list-section{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    margin: 80px 0 0 0;
    padding: 2rem;
    border: 1px solid var(--color-palette-first);
    box-shadow: 0 0 36px 1px var(--color-palette-first);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    background: var(--prime-background-color-light); 
}

.app-link{
    font-size: 25px;
    color: var(--color-palette-fifth);
    text-decoration: none;
    font-weight: 700;
}
.berichTkinter-link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.berichTkinter-link img{
    width: 250px;
    height: 250px;
    border-radius: 25%;
    margin-top: 1rem;
}


/* beRichCTKinter README. */
/* switch between languages is disabled */
/* .switch-lang{
    margin-left: 1rem;
    animation: blinkingColor 2s infinite;
} */

.show-more{
    position: relative;
    transform: translateX(-50%);
    background-color: var(--prime-background-color-light);
    color: var(--color-palette-fifth);
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    z-index: 2;
    animation: blinkingColor 2s infinite;
}
.readme-container{
    background-color: var(--prime-background-color);
    border: 1px solid var(--color-palette-first);
    border-radius: 6px;
    padding: 16px;
    max-width: 900px;
    margin: 3rem auto;
    z-index: 3;
    position: relative;
}
.readme-container a, .readme-container a:visited, .readme-container a:active{
    color: var(--color-palette-fifth);
    text-decoration: none;
    font-weight: 700;
}
.repo-header h1{
    font-size: 26px;
    color: var(--color-palette-third);
}

.repo-header p{
    font-size: 16px;
    color: var(--color-palette-fifth);
}
.repo-header a{
    text-decoration: underline;
    color: var(--color-palette-fifth);
    padding-top: .5rem;
}
.repo-header a:hover{
    text-decoration: none;
    color: rgb(140, 45, 235);
}
.markdown-body{
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-palette-fifth);
}

.markdown-body h2{
    color: var(--color-palette-second);
    border-bottom: 1px solid var(--prime-background-color);
    padding-bottom: 8px;
}

.markdown-body pre{
    background-color: var(--prime-background-color-light);
    padding: 16px;
    font-family: monospace;
    border-radius: 6px;
}

.markdown-body ul {
    list-style-type: none;
    padding: 0;
}

.markdown-body li {
    padding: 8px;
    border-radius: 6px;
    background-color: var(--prime-background-color-light);
    margin-bottom: 8px;
}





/* WEB_APP STYLES  */
.header-h1{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    color: var(--color-palette-second);
}
.header-h1 h1 span{
    color: var(--color-palette-fifth);
}
/* .header-h1 h1 span:nth-child(1){
    color: var(--color-palette-fourth);
} */
/* .header-h1 h1 span:nth-child(2){
    color: var(--color-palette-fifth);
} */
#berichWebApp{
    position: relative;
    z-index: 3;
    border: 1px solid var(--color-palette-fifth);
    margin: 2rem;
}
.container-web-app{ 
    width: 80%; 
    margin: 0 auto; 
    padding: 20px;
    z-index: 3;
}



.container-web-app form{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-group{
    flex: 0 0 40%;
    margin-bottom: 10px;
}

.input-field{
    display: block;
    padding: 8.5px;
    width: 100%;
    margin: 1rem 0;
    color: var(--color-palette-fifth);
    outline: none;
    background-color: var(--prime-background-color-light);
    border: .3px solid var(--color-palette-fifth);
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#lf-select{
    margin-left: 1.2rem;
    width: 4rem; 
    height: 2rem; 
    background-color: var(--prime-background-color-light); 
    color: var(--color-palette-fifth); 
    padding: 8px; 
    border-radius: 4px; 
    border: 1px solid #ccc;
}

optgroup{
    background-color: var(--prime-background-color);
}
optgroup option{
    background-color: var(--prime-background-color);
}

.input-group2{
    margin-top: 1rem;
}

.input-group label{
    color: var(--color-palette-fifth);
}


.readme-container.preview {
    height: 100px;
    overflow: hidden;
    position: relative;
}

.readme-container.full {
    height: auto;
}

.submit-berichts{
    background-color: var(--secondary-background-color);
}
/* RESULTS */
#results-section{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}


.container-result{
    width: 75%;
}

.document-header{
    position: relative;
    font-size: 18px;
    background-color: var(--color-palette-fifth);
    text-align: center;
    width: 80%;
    margin: .6rem;
    border-radius: 1rem;
    color: var(--color-palette-third);
}

.document-header span{
    color: var(--prime-background-color);
}

.container-result-form{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--prime-background-color-light);
    border-radius: 10px 10px 0 0;
    backdrop-filter: blur(20px);
    background: whitesmoke; 
}    

.form-feld{
    border: 1px solid #b3b0b0; 
    padding: .5rem;
    margin: .4rem;
    width: 20%;
}

.key{
    color: var(--color-palette-third);
}

.value{
    color: var(--color-palette-second);
    font-weight: bolder;
}

.schedule-flex-grow{
    display: flex;
    gap: 10px;
    color: black;
    background: whitesmoke;
    border: 1px solid var(--prime-background-color-light);
}
.schedule-flex-grow > div {
    flex-grow: 1; 
    text-align: center;
}

.schedule-flex-grow > div:nth-child(2){
    flex-grow: 8;
}

.schedule-notes{
    background: whitesmoke;
    color: black;
    backdrop-filter: blur(20px);
}
.schedule-weekNr{
    display: flex;
    background: whitesmoke;
    color: black;
    backdrop-filter: blur(20px);
}

.schedule-weekNr :nth-child(1){
    flex-grow: 2;
    text-align: center;
}

.schedule-weekNr :nth-child(2){
    flex-grow: 6;
    text-align: center;
}

.schedule-days{
    display: flex;
}

.schedule-days :nth-child(1){
    width: 10%;
    text-align: center;
    border: 1px  solid #b3b0b0;

}
.schedule-days :nth-child(2){
    width: 80%;
    border: 1px  solid #b3b0b0;
    padding: .2rem;
}
.schedule-days :nth-child(3){
    width: 10%;
    text-align: center;
    border: 1px  solid #b3b0b0; 
}

.just-a-line{
    width: 280px;
    border-bottom: 1px groove black;
    display: flex;
    width: 100%;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
}

.user-picture{
    position: relative;
    width: 100%;
    height: 3.3rem;
    background-color: rgb(255, 255, 255);
}
.user-picture img{
    width: 120px;
    height: 30px;
    padding-left: 2rem;
}
.strong{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 1rem 0;
}


/* switch between languages is disabled */
@keyframes blinkingColor {
    0%, 100% { color: var(--color-palette-fifth); } 
    50% { color: var(--color-palette-circle) } 
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .apps-list-section {
        width: 100%;
        padding: 1rem;
    }
    
    .berichTkinter-link {
        flex: 1 1 100%;
        margin: 0.5rem 0;
    }

    .berichTkinter-link img {
        width: 100%;
        height: auto;
        border-radius: 15%;
    }
}